body{
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(217, 28%, 15%);
  color: #FFF;
  font-size: 0.8rem;
  text-align: center;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.75rem;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

/* Section 1 */

.sec1{
  position: relative;
  padding: 4%;
}

.sec1 .bg{
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav img{
  height: 1.75rem;
}

.sec1 p{
  font-size: 1.05rem;
}

.sec1 button{
  background-color: #4BB9D2;
  color: #FFF;
  border-radius: 3rem;
  width: 17rem;
  height: 3.4rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
}

.sec1 span{
  opacity: 0.7;
}

/* Section 2 */

.sec2{
  background-color:  hsl(218, 28%, 13%);
  padding: 4%;
  padding-top: 25%;
}

.sec2 img{
  height: 4rem;
}

.sec2 p{
  font-size: 1rem;
}

/* Section 3 */

.sec3{
  padding: 7.5%;
  background-color: hsl(218, 28%, 13%);
  padding-top: 7rem;
}

.sec3 p{
  font-size: 1rem;
  text-align: left;
}

.sec3 .arrow{
  text-align: left;
  color: hsl(176, 68%, 64%);
  border-bottom: 2px solid hsl(176, 68%, 64%);
  display: inline-block;
  float: left;
}

/* Section 4 */

.sec4{
  padding: 10%;
  background-color: hsl(218, 28%, 13%);
  padding-top: 7rem;
  position: relative;
}

.sec4 .quote{
  position: absolute;
  top: 11%;
  left: 8%;
  height: 2rem;
}

.card{
  background-color: hsl(219, 30%, 18%);
  text-align: left;
  padding: 2rem 2rem 0.5rem 2rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
  box-shadow: 3px 3px 10px hsl(217, 28%, 15%);
}

.card img{
  height: 1.75rem;
}

table{
  width: auto;
}

table h6{
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 0.15rem 0;
}

table p{
  font-size: 0.6rem;
}

/* Section 5 */

.sec5{
  background-color: hsl(218, 28%, 13%);
  padding: 4%;
  padding-top: 0;
}

.sec5 .container{
  background-color: hsl(217, 28%, 15%);
  border-radius: 0.75rem;
  padding: 5%;
  position: relative;
  bottom: -190px;
  z-index: 1;
}

.sec5 button{
  background-color: hsl(176, 68%, 64%);
  color: #FFF;
  font-weight: 700;
  border-radius: 3rem;
  height: 3.5rem;
}

.sec5 p{
  font-size: 1.1rem;
}

input{
  width: auto;
  border-radius: 3rem;
  width: 22rem;
  height: 2rem;
  color: grey;
  margin: 1.5rem 0;
}

/* Section 6 */

.sec6{
  padding: 8%;
  padding-top: 50%;
  background-color: hsl(216, 53%, 9%);
  text-align: left;
}

.sec6 p{
  font-size: 1.2rem;
}

/* For Desktop screen */

@media (min-width : 600px) {
  body{
    font-size: 1rem;
  }
  h1{
    font-size: 2.15rem;
  }
  nav img{
    height: 3.25rem;
  }
  .sec1 .container-fluid{
    width: 50%;
  }
  .sec1 p{
    font-size: 1.25rem;
  }
  .sec2{
    padding-top: 10%;
  }
  .qual{
    padding: 7.5%;
  }
  .sec3 h2{
    font-size: 2.5rem;
    padding: 15% 10% 2% 0;
  }
  .sec4{
    padding: 8%;
    margin: 0;
  }
  .card{
    transform: scale(0.95);
    margin: 0;
  }
  .sec4 .quote{
    height: 3rem;
    top: 4rem;
    left: 6rem;
  }
  .sec4 p{
    font-size: 0.95rem;
  }
  .sec4 .huddle{
    font-size: 0.7rem;
  }
  .sec5 .container{
    width: 70%;
  }
  .sec5 h2{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sec5 input{
    width: 65%;
    text-align: left;
  }
  .sec5 button{
    width: 30%;
    float: right;
    margin-top: 1.4rem;
    font-size: 0.9rem;
  }
  .sec6{
    padding-top: 15%;
  }
  .sec6 p{
    font-size: 0.825rem;
  }
  .sec6 .address{
    width: 85%
  }
}
